$listPadding: 15px;
$contentLeftWidth: 250px;

$mainDarkBlue: rgb(40, 42, 54);
$navTextColor: rgb(193, 202, 208);
$mainLightGray: rgb(241, 241, 241);
$listBackgroundColor: rgb(117, 117, 128);
$iconHighlightColor: rgb(125, 133, 239);


input{
    padding: 10px 0;
    box-sizing:border-box;
    width: $contentLeftWidth;
}

i{
    margin: 5px;
}
body{
    background-color: $mainDarkBlue;
}
ul{
    list-style-type: none;
}
.container{
    max-width: 1400px;
    justify-content: center;
    margin: 0 auto;
    background-color: white;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
    font-size: 24px;
    color: $navTextColor;
    background-color: $mainDarkBlue;
    border: 2px $navTextColor solid;
}
.content{
    display: flex;
}
.contentLeft{
    background-color: $mainLightGray;
    width: $contentLeftWidth;
}
.warning{
    color: red;
    font-weight: bold;
}
#contentLeft > *{
    margin-top: 15px;
}
#contentLeft{
    max-width: 30%;
    background-color: $navTextColor;
}
#contentRight{
    flex-grow: 4;
    max-width: 70%;
}
.button:hover{
    cursor: pointer;
}
.listGroup{
padding: 0;
}
.listGroupItem{
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
    background-color: $listBackgroundColor;
    color: $mainLightGray;
}
.listGroupItem .switchLists{
    display: flex;
    flex-grow: 1;
    padding: 15px 30px;
    margin: 0px;
} 
.listButtons{
    padding: 0;
    margin-right: 25px;
}

#contentLeft{
    padding: 15px
}
#contentRight{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: start;
    padding: 15px
}
.input{
    display: flex;
}
#selectedName{
    font-size: 24px;
    font-weight: bold;
}

.selected{
    box-shadow: 0 0 5px blue;
    background-color: darkblue;
}


.hidden{
    display: none !important;
}

.listGroupItem i:hover{
    color: $iconHighlightColor;
}
.listGroupItem:hover{
    filter: brightness(80%);
}

li i{
    display: none !important;
}
.editMode li i{
    display: inline !important;
}
.listButtons{
    text-wrap: nowrap;
}
.nav i{
    padding: 10px;
    border-radius: 50px;
}