$listPadding: 15px;
$contentLeftWidth: 250px;

$mainDarkBlue: rgb(40, 42, 54);
$navTextColor: rgb(193, 202, 208);
$mainLightGray: rgb(241, 241, 241);
$listBackgroundColor: rgb(117, 117, 128);



input{
    padding: 10px 0;
    box-sizing:border-box;
    width: $contentLeftWidth;
}

i{
    margin: 5px;
}
body{
    background-color: $mainDarkBlue;
}
ul{
    list-style-type: none;
}
.container{
    max-width: 1400px;
    justify-content: center;
    margin: 0 auto;
    background-color: white;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
    font-size: 24px;
    color: $navTextColor;
    background-color: $mainDarkBlue;
    border: 2px $navTextColor solid;
}
.content{
    display: flex;
}
.contentLeft{
    background-color: $mainLightGray;
    width: $contentLeftWidth;
}
.warning{
    color: red;
    font-weight: bold;
}
.contentLeft > *{
    margin-top: 15px;
}
.contentRight{
    flex-grow: 4;
}
.button:hover{
    cursor: pointer;
}
.listGroup{
padding: 0;
}
.listGroupItem{
    display: flex;
    flex-grow: 1;
    background-color: $listBackgroundColor;
    color: $mainLightGray;
    margin: 10px 0;
    padding: 15px 30px;
}

#contentRight{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: start;
    padding: 15px
}
.input{
    display: flex;
}
#selectedName{
    font-size: 24px;
    font-weight: bold;
}


.hidden{
    display: none !important;
}