input {
  padding: 10px 0;
  box-sizing: border-box;
  width: 250px;
}

i {
  margin: 5px;
}

body {
  background-color: rgb(40, 42, 54);
}

ul {
  list-style-type: none;
}

.container {
  max-width: 1400px;
  justify-content: center;
  margin: 0 auto;
  background-color: white;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
  font-size: 24px;
  color: rgb(193, 202, 208);
  background-color: rgb(40, 42, 54);
  border: 2px rgb(193, 202, 208) solid;
}

.content {
  display: flex;
}

.contentLeft {
  background-color: rgb(241, 241, 241);
  width: 250px;
}

.warning {
  color: red;
  font-weight: bold;
}

#contentLeft > * {
  margin-top: 15px;
}

#contentLeft {
  max-width: 30%;
  background-color: rgb(193, 202, 208);
}

#contentRight {
  flex-grow: 4;
  max-width: 70%;
}

.button:hover {
  cursor: pointer;
}

.listGroup {
  padding: 0;
}

.listGroupItem {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  align-items: center;
  margin: 10px 0;
  background-color: rgb(117, 117, 128);
  color: rgb(241, 241, 241);
}

.listGroupItem .switchLists {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding: 15px 15px;
  margin: 0px;
}

.listButtons {
  padding: 0;
  margin: 15px 25px 15px 0;
}

.listEditBox input {
  padding-left: 15px;
  margin: 0 15px;
  width: auto;
}

#contentLeft {
  padding: 15px;
}

#contentRight {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: start;
  padding: 15px;
  margin: 25px;
}

.input {
  display: flex;
}

#selectedName {
  font-size: 24px;
  font-weight: bold;
}

.selected {
  box-shadow: 0 0 5px blue;
  background-color: darkblue;
}

.hidden {
  display: none !important;
}

li i:hover {
  color: rgb(125, 133, 239);
  cursor: pointer;
}

.listGroupItem:hover {
  filter: brightness(80%);
}

.listButtons {
  text-wrap: nowrap;
}

.nav i {
  padding: 5px;
}

.nav .selected {
  background-color: rgb(173, 0, 0);
  box-shadow: none;
}

.itemGroupItem {
  display: flex;
  background-color: rgb(117, 117, 128);
  justify-content: space-between;
  color: rgb(241, 241, 241);
  padding: 15px;
  margin: 15px;
  align-items: center;
}

.itemGroupItem div div {
  display: flex;
  align-items: center;
}

.itemGroupItem input[type=checkbox] {
  width: 20px;
  height: 20px;
  margin-right: 15px;
}

.listValue {
  display: flex;
  padding: 5px 5px;
  border-radius: 50px;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  border: 2px rgba(0, 0, 0, 0.35) solid;
}

.listToDoNumber {
  background-color: rgb(164, 118, 0);
  margin-right: 5px;
}

.numberCompleted {
  background-color: rgb(4, 100, 4);
  margin-right: 15px;
}

#newItemButton {
  margin-top: 15px;
}

.contentRightTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#deleteCheckedItems {
  padding: 5px 10px;
  border: 2px rgba(0, 0, 0, 0.35) solid;
  background-color: rgb(173, 0, 0);
  color: rgb(241, 241, 241);
}

input[type=checkbox]:checked {
  accent-color: rgb(4, 100, 4);
  box-shadow: 0 0 5px lime;
}

#deleteCheckedItems:hover {
  filter: brightness(80%) !important;
  cursor: pointer;
}/*# sourceMappingURL=style.css.map */